{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-1"
  ],
  "env": {
      "test": {
        "presets": [
            ["env", {
              "targets": {
                "node": "8"
              }
            }],
            "stage-1"
          ]
      }
  }
}
